.p-grid {
    .p-col-4 {
      // Adjust the size of the chart container as per your requirements
      width: 600px;
      height: 400px;
    }
  
    // Add any other custom styles for the chart container or its elements
  }
  .chart{

    width: 50%;
    align-items: center;
  }
#id{
  margin-left: 29%;
  margin-right: 20%;
  width: 30%;
  height: 7%;
}